/* blue button */
.tke.oDc {
  visibility: hidden !important;
}
div[data-gpal-visible='true'].tke.oDc {
  visibility: visible !important;
}

/* bookmark icon */
.nZb, .F4 {
  visibility: hidden !important;
}
