/* reload button */
.d-k-l.b-c.b-c-U.JFd.JZ {
  visibility: hidden !important;
}
div[data-gpal-visible='true'].d-k-l.b-c.b-c-U.JFd.JZ {
  visibility: visible !important;
}

/* resume button and bookmark icon */
.d-k-l.b-c.b-c-U.Yic.JZ, .F4 {
  visibility: hidden !important;
}
